# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Dataset
data/

# Model files
*.pth
*.pt
*.onnx

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python environment files
.env